<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Hello World</display-name>

    <servlet>
        <servlet-name>Choice</servlet-name>
        <servlet-class>ca.concordia.servlet.ChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>ca.concordia.servlet.DownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Choice</servlet-name>
        <url-pattern>/choice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

</web-app>